<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Gadget Valley</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
        <a class="btn btn-light" href="/logout">Logout</a>
    </div>
</nav>

<h1>All Users</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table style="width: 100%;">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Admin</th>
                </tr>
                {{#each users}}
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td><a href="mailto:{{email}}">{{email}}</a></td>
                    <td>{{isAdmin}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>