<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Gadget Valley</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="btn btn-light" href="/logout">Logout</a>
    </div>
</nav>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Gadgets for lease</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#each products}}
        <div class="col-11 mx-auto my-3 col-md-4">
            <div class="card">
                <div class="card">
                    <div class="row p-3">
                        <div class="col-5"><img class="mg-fluid img-thumbnail"
                                src="{{image}}"
                                alt=""></div>
                        <div class="col-5 text-capitalize">
                            <h6 class="text-uppercase pt-2 redText">{{title}}</h6>
                            <p>{{description}}</p>
                        </div>
                        <div class="col-1">
                            <div class="badge badge-success">4.9</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row py-3 ml-1">
                        <div class="col-5 text-uppercase">
                            <p>Category :</p>
                            <p>Lease Price :</p>
                        </div>
                        <div class="col-7 text-uppercase">
                            <p>{{type}}</p>
                            <p>${{price}}/mo</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row text-center no-gutters pb-3">
                        <div class="col-12">
                            <a href="/products"
                                target="_blank" class="btn redBtn text-uppercase">Lease Device
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>